.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
}

.lista-filmes {
  margin: 15px;
}

.lista-filmes article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
}

.lista-filmes strong {
  padding-bottom: 15px;
  font-size: 22px;
}

.lista-filmes img {
  width: 900px;
  max-height: 350px;
  border-radius: 5px;
}

.lista-filmes article a {
  text-decoration: none;
  color: #fff;
  background-color: #aa00ff;
  color: #fff;
  font-size: 25px;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  border-radius: 3px;
  padding-bottom: 10px;
  padding-top: 10px;
}
